
@model TAMS.Entity.VatTuYTe

@{
    ViewBag.Title = ViewBag.Feature + " " + ViewBag.Element;

}
@section CSS{


    <link href="~/Areas/Admin/Content/plugins/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewBag.Feature</h3>
    </div>
    <div class="panel-body">
        <!-- Tabs Content -->
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <form id="form" class="form-horizontal" action="#" method="post">
            @if (ViewBag.IsEdit)
            {
                <input type="hidden" value="true" name="IsEdit" />
                <input type="hidden" value="@Model.Id" name="Id" />
            }
            else
            {
                <input type="hidden" value="false" name="IsEdit" />
            }
            <div class="row">
                <div class="form-group">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-6">
                        <label class="control-label">Tên vật tư*</label>
                        @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "form-control", @maxlength = 250 } })
                    </div>

                    <div class="col-lg-4">
                        <label class="control-label">Danh mục*</label>
                        @Html.DropDownList("MaLoaiVatTu", (SelectList)ViewBag.Categories, "- Chọn danh mục -",
                            new { @class = "form-control", @required = "required" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5">
                        <label class="control-label">Số lượng*</label>
                        @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control", @maxlength = 250 } })
                    </div>
                    <div class="col-lg-5">
                        <label class="control-label">Đơn vị*</label>
                        @Html.DropDownList("MaDonVi", (SelectList)ViewBag.DonVi, "- Chọn đơn vị -",
                            new { @class = "form-control", @required = "required" })
                    </div>
                </div>
            </div>




            <div class=" row">
                <div class="form-group">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5" id="4">
                        <div id="four">

                            <label class="control-label">Loại dụng cụ*</label>
                            @Html.DropDownList("LoaiDungCu", (SelectList)ViewBag.DungCu, "- Chọn loại dụng cụ -", new { @class = "form-control" })

                        </div>

                    </div>
                    <div class="col-lg-5" id="5">

                        <div id="five">
                            <label class="control-label">Loại hóa chất*</label>';
                            @Html.DropDownList("LoaiHoaChat", (SelectList)ViewBag.HoaChat, "- Chọn loại hóa chất -", new { @class = "form-control" })

                        </div>

                    </div>
                    <div class="col-lg-5">
                        <label class="control-label">Hãng Sản Xuất*</label>
                        @Html.DropDownList("MaHangSX", (SelectList)ViewBag.HangSanXuat, "- Chọn hãng sản xuất -",
                            new { @class = "form-control", @required = "required" })
                    </div>
                    <div class="col-lg-5" id="2">
                        <div id="two">

                            <label class="control-label">Chất Liệu</label>
                            @Html.EditorFor(model => model.ChatLieu, new { htmlAttributes = new { @class = "form-control", @maxlength = 250 } })

                        </div>

                    </div>


                </div>
            </div>
            <div class="row">
                <div class="form-group" id="1">

                    <div id="one">

                        <div class="col-lg-1"></div>
                        <div class="col-lg-10">

                            <label class="control-label">Hàm Lượng</label>
                            @Html.EditorFor(model => model.HamLuong, new { htmlAttributes = new { @class = "form-control", @maxlength = 250 } })

                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5">
                        <label class="control-label">Giá Bán</label>
                        @Html.EditorFor(model => model.GiaBan, new { htmlAttributes = new { @class = "form-control", @maxlength = 250 } })
                    </div>
                    <div class="col-lg-5">
                        <label class="control-label">Xuất xứ</label>
                        @Html.EditorFor(model => model.NguonGoc, new { htmlAttributes = new { @class = "form-control", @maxlength = 250 } })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1"></div>

                <div class="form-group col-lg-4">

                    <label class="control-label">Năm sản xuất</label>
                    <div class="input-group date" id="NamSX">
                        <input type="text" class="form-control" name="NamSX" id="NamSX" required />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <div class="form-group col-lg-3">
                    <label class="control-label">Ngày Nhập</label>
                    <div class="input-group date" id="NgayNhap">
                        <input type="text" class="form-control" name="NgayNhap" id="NgayNhap" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group col-lg-3" id="6">



                    <div id="six">
                        <label class="control-label">Ngày hết hạn</label>
                        <div class="input-group date" id="NgayHetHan">

                            <input type="text" class="form-control" name="NgayHetHan" id="NgayHetHan" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>

                            </span>
                        </div>

                    </div>

                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-3" id="8">

                        <div id="eight">

                            <label class="control-label">Ngày bắt đầu bảo hành</label>
                            <div class="input-group date" id="NgayBatDauBaoHanh">

                                <input type="text" class="form-control" name="NgayBatDauBaoHanh" id="NgayBatDauBaoHanh" />
                                <span class="input-group-addon">

                                    <span class="glyphicon glyphicon-calendar"></span>

                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3" id="9">

                        <div id="nine">

                            <label class="control-label">Ngày hết bảo hành</label>
                            <div class="input-group date" id="NgayKetThucBaoHanh">

                                <input type="text" class="form-control" name="NgayKetThucBaoHanh" id="NgayKetThucBaoHanh" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>

                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" id="7">

                        <div id="seven">
                            <label class="control-label">Tình trạng</label>
                            @Html.DropDownList("TinhTrang", (SelectList)ViewBag.TinhTrang, "- Chọn tình trạng -", new { @class = "form-control" })

                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group" id="3">

                    <div id="four">

                        <div class="col-lg-1"></div>
                        <div class="col-lg-5">
                            <label class="control-label">Thành Phần</label>
                            @Html.TextAreaFor(model => model.ThanhPhan, new { @class = "form-control", @rows = "10" })

                        </div>
                        <div class="col-lg-5">

                            <label class="control-label">Công dụng</label>
                            @Html.TextAreaFor(model => model.CongDung, new { @class = "form-control", @rows = "10" })

                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="form-group ">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5">
                        <label class="control-label">Hướng dẫn sử dụng</label>
                        @Html.TextAreaFor(model => model.HuongDanSuDung, new { @class = "form-control", @rows = "10" })
                    </div>
                    <div class="col-lg-5">
                        <label class="control-label">Mô tả</label>
                        @Html.TextAreaFor(model => model.MoTa, new { @class = "form-control", @rows = "10" })
                    </div>
                </div>
            </div>
            <div class="tab-footer" style="padding-top: 15px;">
                <div class="row ">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-1">
                        @{
                            if (ViewBag.IsEdit)
                            {
                                <button type="submit" class="btn btn-success pull-right">Lưu</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-success pull-right">Thêm</button>
                            }
                        }
                    </div>
                    <div class="col-lg-5"></div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/Areas/Admin/Content/plugins/moment/min/moment.min.js"></script>
    <script src="~/Areas/Admin/Content/js/simple.money.format.js"></script>
    <script src="~/Areas/Admin/Content/plugins/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        $(document).ready(function () {


            const value = $("#MaLoaiVatTu").val();
            $('#NgayNhap').datetimepicker();
            $('#NgayHetHan').datetimepicker();
            $('#NgayKetThucBaoHanh').datetimepicker();
            $('#NgayBatDauBaoHanh').datetimepicker();
            $('#NamSX').datetimepicker();

                $('#NgayNhap').data("DateTimePicker").date('@ViewBag.NgayNhap');
                 $('#NamSX').data("DateTimePicker").date('@ViewBag.NamSX');

                 $('#NgayKetThucBaoHanh').data("DateTimePicker").date('@ViewBag.NgayKetThucBaoHanh');

            $('#NgayBatDauBaoHanh').data("DateTimePicker").date('@ViewBag.NgayBatDauBaoHanh');


                $('#NgayHetHan').data("DateTimePicker").date('@ViewBag.NgayHetHan');






            if (value == "" || value == "1") {
                $("#1").hide();
                $("#2").show();
                $("#3").hide();
                $("#4").hide();
                $("#5").hide();
                $("#6").hide();
                $("#7").hide();
                $("#8").hide();
                $("#9").hide();






            }


            if (value == "2") {
                $("#1").hide();
                $("#2").hide();
                $("#3").hide();
                $("#4").show();
                $("#5").hide();
                $("#6").hide();
                $("#7").show();
                $("#8").show();
                $("#9").show();




            }
            if (value == "3") {
                $("#1").show();
                $("#2").hide();
                $("#3").show();
                $("#4").hide();
                $("#5").show();
                $("#6").show();
                $("#7").hide();
                $("#8").hide();
                $("#9").hide();





            }
        });

     


            $("#MaLoaiVatTu").change(function () {
                const value = $("#MaLoaiVatTu").val();
                   if (value == "" || value == "1") {
                $("#1").hide();
                $("#2").show();
                $("#3").hide();
                $("#4").hide();
                $("#5").hide();
                $("#6").hide();
                $("#7").hide();
                $("#8").hide();
                $("#9").hide();






            }


            if (value == "2") {
                $("#1").hide();
                $("#2").hide();
                $("#3").hide();
                $("#4").show();
                $("#5").hide();
                $("#6").hide();
                $("#7").show();
                $("#8").show();
                $("#9").show();




            }
            if (value == "3") {
                $("#1").show();
                $("#2").hide();
                $("#3").show();
                $("#4").hide();
                $("#5").show();
                $("#6").show();
                $("#7").hide();
                $("#8").hide();
                $("#9").hide();





            }
            });

        $("#MaHangSX").change(function () {
            ajax.get(`/admin/HangSanXuat/GetJson`, { id: this.value },
                (response) => {
                    if (response.status) {
                        var obj = response.data;
                        $('#NguonGoc').val(obj.Country);
                        $('#NguonGoc').attr("readonly","true");


                    } else {
                        notify.push(response.mess, notify.EType.DANGER);
                    }
                },
                (jqXHR, textStatus) => {
                    let mess = "Request failed: " + textStatus;
                    notify.push(mess, notify.EType.DANGER);

                }
            );

        }
        )





        const baseUrl = '/admin/VatTuYTe';
        const Url = '/admin/VatTuYTe?categoryId=' + $('#MaLoaiVatTu').val();
            // Valid
            const fields = {
                Ten: {
                    container: 'tooltip',
                    validators: {
                        notEmpty: {
                            message: 'Tiêu đề là bắt buộc và không thể để trống'
                        }
                    }
                },
                MaLoaiSanPham: {
                    container: 'tooltip',
                    validators: {
                        notEmpty: {
                            message: 'Vui lòng chọn danh mục'
                        }
                    }
                },
                SoLuong: {
                    container: 'tooltip',
                    validators: {
                        notEmpty: {
                            message: 'Vui lòng nhập số lượng'
                        }
                    }
                }
            }
            validator.valid('form', fields, (e) => {
                e.preventDefault();

                var formData = new FormData(document.getElementById('form'));
                if ($('#NgayBatDauBaoHanh').val() == "" || $('#NgayKetThucBaoHanh').val() == "" || $('#NgayHetHan').val() == "") {
                  formData.append("NgayBatDauBaoHanh", new Date().toISOString());
                 formData.append("NgayKetThucBaoHanh", new Date().toISOString());
                   formData.append("NgayHetHan", new Date().toISOString());
                }
                ajax.createOrUpdate(`${baseUrl}/CreateOrEdit`, formData,
                    (response) => {
                        if (response.status) {
                            const obj = response.data;
                            notify.push(response.mess, notify.EType.SUCCESS);
                            notify.loading();
                            setTimeout(function () {
                                window.location.href = '/admin/VatTuYTe?categoryId=' + obj.MaLoaiVatTu;
                            }, 1000);

                        } else {
                            notify.push(response.mess, notify.EType.DANGER);
                            $(':input[type="submit"]').prop('disabled', false);
                        }
                    },
                    (jqXHR, textStatus) => {
                        const mess = `Request failed: ${textStatus}`;
                        notify.push(mess, notify.EType.DANGER);
                        $(':input[type="submit"]').prop('disabled', false);
                    }
                );
            });
    </script>

}

